#success_message{ display: none;}

body form html{
    height: 100%;
    margin: 0;
    
}

legend center h2 b{
    color: white;
    
}

form{
    background-image: url("pozadíRegistr.png");
    height: 100%;
    color: white;
    border-color: blue;
    
}
         .btn-grad {background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%)}
         .btn-grad {
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            border-radius: 15px;        
            
           
            top: 50%;

            
          }

          .btn-grad:hover {
            background-position: center; /* change the direction of the change here */
            text-decoration: none;
          } 